<p style="color: green"><%= notice %></p>

<h1>Were have all the blog posts gone?</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>
<%= link_to "Button that goes to Google", "http://www.google.com" %>
<%= link_to "New post", new_post_path %>